@font-face {
  font-family: Khand-Medium;
  src: url(../fonts/Khand-Medium.ttf);
}

// Mixins
@mixin transition-all() {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  @mixin background-cover() {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  @mixin serif-font() {
    font-family: 'Khand-Medium' ,'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  }
  @mixin sans-serif-font() {
    font-family: 'Khand-Medium', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  }
  

  @mixin web-color() {
    background: #5d33e5;
    /* For browsers that do not support gradients */
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(to top right, #5d33e5, #5d38e7, #5a70f4, #5897fd);
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(to top right, #5d33e5, #5d38e7, #5a70f4, #5897fd);
    /* For Fx 3.6 to 15 */
    background: -moz-linear-gradient(to top right, #5d33e5, #5d38e7, #5a70f4, #5897fd);
    /* Standard syntax */
    background: linear-gradient(to top right, #5d33e5, #5d38e7, #5a70f4, #5897fd);
  }

  @mixin design-color() {
    background: #fe5068;
    /* For browsers that do not support gradients */
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(to top right, #fe5068, #ff6955, #ff883d);
    /* For Opera 11.1 to 12.0 */
    /* background: -o-linear-gradient(to bottom right, #fe5068, #ff6955, #ff704f, #ffbf13); */
    background: -o-linear-gradient(to top right, #fe5068, #ff6955, #ff883d);
    /* For Fx 3.6 to 15 */
    background: -moz-linear-gradient(to top right, #fe5068, #ff6955, #ff883d);
    /* Standard syntax */
    background: linear-gradient(to top right, #fe5068, #ff6955, #ff883d);
  }