// Variables

 $white: #fff !default;
// $gray-100: #f8f9fa !default;
$gray-200: #F7F7F7 !default;
// $design-text: #e76366 !default;
// $green-text: #417307 !default;
// $web-text: #3d4deb!important;

$design-text: #39B893 !default;
$green-text: #455342 !default;
$web-text: #E52E3B!default;
$web-maintext: #5B5FEB !default;
$gray-900: #1E1C17 !default;

// $gray-300: #dee2e6 !default;
// $gray-400: #ced4da !default;
// $gray-500: #adb5bd !default;
// $gray-600: #868e96 !default;
// $gray-700: #495057 !default;
// $gray-800: #343a40 !default;
// $gray-900: #212529 !default;
// $black: #000 !default;

// $primary: #2d2d2d !default;
