@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "bootstrap-overrides.scss";
@import "styleindex.scss";
@import "tab.scss";
@import "i5.scss";
@font-face {
    font-family: Khand-Semibold;
    src: url(../fonts/Khand-Semibold.ttf);
}

@font-face {
    font-family: Khand-Regular;
    src: url(../fonts/Khand-Regular.ttf);
}

// body {
//     color: $primary;
//     background: $gray-600;
// }
// // Styling for the navbar
#mainNav {
    border-bottom: 1px solid fade-out($gray-900, .9);
    background-color: $white;
    @include sans-serif-font;
    @include transition-all;
    .navbar-brand {
        font-weight: 700;
        text-transform: uppercase;
        color: $primary;
        @include sans-serif-font;
        &:focus,
        &:hover {
            color: darken($primary, .1);
        }
    }
    .navbar-nav {
        >li.nav-item {
            >a.nav-link,
            >a.nav-link:focus {
                font-size: .9rem;
                font-weight: 700;
                text-transform: uppercase;
                color: $gray-900;
                &:hover {
                    color: $primary;
                }
                &.active {
                    color: $gray-100 !important;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
    @media (min-width: 992px) {
        border-color: transparent;
        background-color: transparent;
        .navbar-brand {
            color: fade-out($white, .3);
            &:focus,
            &:hover {
                color: $white;
            }
        }
        .navbar-nav>li.nav-item>a.nav-link {
            padding: 0.5rem 1rem;
        }
        .navbar-nav>li.nav-item>a.nav-link,
        .navbar-nav>li.nav-item>a.nav-link:focus {
            color: fade-out($white, .3);
            &:hover {
                color: $white;
            }
        }
        &.navbar-shrink {
            border-bottom: 1px solid fade-out($gray-900, .9);
            background-color: transparent;
            .navbar-brand {
                color: $white;
                &:focus,
                &:hover {
                    color: darken($white, .1);
                }
            }
            .navbar-nav>li.nav-item>a.nav-link,
            .navbar-nav>li.nav-item>a.nav-link:focus {
                color: $white;
                &:hover {
                    color: $white;
                }
            }
        }
    }
}

//   // Styling for the masthead
// header.masthead {
//     padding-top: 10rem;
//     padding-bottom: calc(10rem - 56px);
//     background-image: url('../img/header.jpeg');
//     background-position: center center;
//     box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.7);
//     @include background-cover;
//     hr {
//       margin-top: 30px;
//       margin-bottom: 30px;
//     }
//     h1 {
//       font-size: 2rem;
//     }
//     p {
//       font-weight: 300;
//     }
//     @media (min-width: 768px) {
//       p {
//         font-size: 1.15rem;
//       }
//     }
//     @media (min-width: 992px) {
//       height: 100vh;
//       min-height: 650px;
//       padding-top: 0;
//       padding-bottom: 0;
//       h1 {
//         font-size: 3rem;
//       }
//     }
//     @media (min-width: 1200px) {
//       h1 {
//         font-size: 4rem;
//       }
//     }
//   }
// .section {
//     padding: none !important;
// }
@media (max-width: 414px) {
    #contactus {
        display: block !important;
        font-size: 12px;
    }
}

#home {
    .smalltext {
        font-size: 0.7rem !important;
    }
    .servicescreen1 {
        background: $white;
        // box-shadow: 10px 10px 45px #999;
        box-shadow: 5px 5px 50px #cbcbcd;
        margin-top: -5rem;
        border-radius: 0;
        max-width: 90%;
        margin-left: 5%;
    }
    .img-shadow {
        position: relative;
        background: $design-text;
        width: 100%;
        float: left;
        margin-top: -20rem;
    }
    .img-shadowweb {
        background: $gray-900;
    }
    .img-shadow img {
        position: relative;
        top: 36px;
        left: 54px;
        border-top: 46px solid#fff;
        // box-shadow: 10px 10px 45px #999;
        box-shadow: 12px 12px 50px #cbcbcd;
    } // .imginside {
    //     position: relative;
    //     top: 36px;
    //     left: 54px;
    // }
    .img-shadowr img {
        box-shadow: -10px 5px 50px #cbcbcd !important;        
    }    
    .dot {
        margin-left: -5rem;
        max-width: 100%;
    }
    .sidehr {
        margin-left: -5rem;
        background: #000;
    }
    .sidehrtext {
        margin-left: -5rem;
        color: $design-text !important;
    }
    .sidehrtextweb {
        color: $web-maintext !important;
    }
    .getlink {
        color: $design-text;
        border-bottom: 2px solid;
        border-bottom-width: 50%;
        border-width: 50%;
        text-decoration: none;
        width: 50%;
    }
    .getweblink {
        color: $web-maintext;
        &:hover {
            color: #5D33E5;
        }
    }
    .head1 {
        font-family: Khand-Semibold;
        text-transform: uppercase;
    }
    .containerimg {
        position: relative;
        text-align: center;
        color: white;
    }
    /* Top right text */
    .top-right {
        position: absolute;
        top: 45px;
        right: -18px;
        color: #000;
    }
    @media (min-width: 1850px) {
        .head1 {
            font-size: 3.5rem;
        }
        .headn1 {
            font-size: 2rem;
        }
        .servicescreen1 {
            max-width: 100%;
            margin-left: 0;
        }
    }
    @media (max-width:1024px) and (max-height:1366px) {
        .img-shadow {
            margin-top: -15rem;
        }
    }
    @media (max-width:1440px) and (max-height:900px) {
        .head1 {
            font-size: 2.5rem !important;
        }
        p {
            font-size: 0.9rem !important;
        }
        .img-shadow img {
            position: relative;
            top: 42px;
            left: 36px;
            border-top: 48px solid #fff;
        }
        .img-shadow {
            margin-top: -20rem;
        }
        .top-right {
            top: 54px;
            right: -3px;
        }
    }
    @media (max-width:1280px) and (max-height:800px) {
        .head1 {
            font-size: 2.5rem !important;
        }
        p {
            font-size: 0.9rem !important;
        }
    }
    @media (min-width: 1850px) {
        .head1 {
            font-size: 3.5rem;
        }
        .headn1 {
            font-size: 2rem;
        }
        .servicescreen1 {
            max-width: 100%;
            margin-left: 0;
        }
    }
    @media (max-width:768px) {
        .dot {
            margin-left: -2rem;
        }
        .img-shadow {
            width: 80%;
            float: left;
            margin-top: -17rem;
        }
        p {
            font-size: 0.9rem;
        }
    }
    @media (max-width:1024px) and (max-height:878px) {
        .img-shadow {
            margin-top: -12rem !important;
        }
    }
    @media (max-width:768px) and (max-height:1024px) {
        .img-shadow {
            width: 100% !important;
            margin-top: -12rem !important;
        }
    }
    @media (max-width:414px) {
        .img-shadow img {
            left: 26px !important;
        }
        .top-right {
            right: -6px;
        }
    }
    .imghome {
        max-width: 90%
    }
}

#service2 {
    margin-top: 3rem !important;
    background: $gray-200;
    .head1 {
        font-family: Khand-Semibold;
        text-transform: uppercase;
    }
    @media (min-width: 1850px) {
        .head1 {
            font-size: 3.5rem;
        }
    }
    @media (max-width:1440px) and (max-height:900px) {
        p {
            font-size: 0.9rem;
        }
    }
    p {
        font-size: 0.8rem;
    }
}

@media (max-width:768px) and (max-height:1024px) {
    #service2 {
        margin-top: 3rem !important;
    }
}

@media (max-width:1024px) and (max-height:1366px) {
    #service2 {
        margin-top: 6rem !important;
    }
}

@media (max-width:1366px) and (max-height:1024px) {
    #service2 {
        margin-top: 6rem !important;
    }
}

@media (max-width:1024px) and (max-height:768px) {
    #service2 {
        margin-top: 3rem !important;
    }
}

#service3 {
    .head1 {
        font-family: Khand-Semibold;
        text-transform: uppercase;
    }
    p {
        font-size: 0.8rem;
    }
    @media (min-width: 1850px) {
        .head1 {
            font-size: 3.5rem;
        }
    }
    @media (max-width:1440px) and (max-height:900px) {
        p {
            font-size: 0.8rem;
        }
        .padleft {
            margin-left: -2rem;
        }
        .padtop {
            margin-top: -0.3rem;
        }
        .colsub {
            margin-top: -2rem;
            margin-left: -1rem;
        }
        .sec3p {
            font-size: 0.75rem;
        }
        .sec3content {
            padding-left: 12px;
            padding-right: 0px;
        }
    }
}

#service4 {
    p {
        font-size: 0.9rem;
    }
    .head1 {
        font-family: Khand-Semibold;
        text-transform: uppercase;
    }
    .containerimg {
        position: relative;
        text-align: center;
        color: white;
    }
    h2 {
        font-family: Khand-Semibold;
    }
    .img-shadow {
        position: relative;
        background: $design-text;
        width: 85%;
        float: left;
        margin-top: -7rem;
    }
    .img-shadow img {
        position: relative;
        top: 36px;
        left: 54px;
        border-top: 46px solid#fff;
        // box-shadow: 10px 10px 45px #999;
        box-shadow: 12px 12px 50px #cbcbcd;
    }
    .img-shadowr img {
        box-shadow: -12px 12px 50px #cbcbcd !important;        
    }
    .img-shadowr {
        float: left;
        background: $web-text;
    }
    .img-shadowr img {
        left: -54px;
    }
    .img-shadow3 {
        background: $green-text;
    }
    /* Top right text */
    .top-right {
        position: absolute;
        top: 45px;
        right: -18px;
        font-size: 1.4rem;
        color: #000;
    }
    .top-left {
        position: absolute;
        top: 45px;
        left: -16px;
        font-size: 1.4rem;
        color: #000;
    }
    .sidehr {
        margin-left: -5rem;
        background: #000;
        position: relative;
        top: 21rem;
        left: -1rem;
    }
    .sidehrtext {
        margin-left: -5rem;
        color: $design-text !important;
        position: relative;
        top: 21rem;
        left: -1rem;
    }
    .sidehrr {
        margin-right: -1rem;
        background: #000;
        position: relative;
        top: 21rem;
        width: 20%;
    }
    .sidehrtextr {
        color: $web-text;
        position: relative;
        top: 21rem;
        left: 26rem;
        margin-right: 15rem;
    }
    .sidehrtext3 {
        color: $green-text !important;
    }
    .sidehead {
        padding-top: 4rem;
    }
    .sidehead1 {
        color: $design-text; // font-weight: 600;
    }
    .sidehead2 {
        color: $web-text; // font-weight: 600;
    }
    .sidehead3 {
        color: $green-text; // font-weight: 600;
    }
    a {
        text-decoration: none;
        color: $white;
    }
    .nav-linkproject1 {
        position: absolute;
        z-index: 1;
        width: 11.6rem;
        height: 2.7rem;
        margin-bottom: 5rem; // background: linear-gradient(to right, #fe5068, #5d33e5, #1cc19c);
        background: #000;
        color: white !important;
        color: #ececec !important;
        font-family: Khand-Bold;
        text-transform: uppercase;
        font-size: 21px;
        padding: 0px;
        border: none;
    }
    .nav-linkproject1:before {
        position: absolute;
        z-index: -2;
        margin-bottom: 5rem;
        top: -11%;
        left: -3%;
        width: 100%;
        height: 100%;
        background: $design-text;
        /* background: linear-gradient(to right, #fe5068, #5d33e5, #1cc19c); */
        content: '';
    }
    .np2:before {
        background: $web-text;
    }
    .np3:before {
        background: $green-text;
    }
    .morebutton {
        background: -webkit-linear-gradient(left, #fe5068, #ffbf13) !important;
        font-size: 25px;
    }
    .morebutton:before {
        background: #000 !important;
    }
    .morewebbutton {
        background: -webkit-linear-gradient(left, #5d33e5, #58a1ff) !important;
    }
    .mtoppad {
        margin-top: 5rem;
    }
    .moreproject {
        @include design-color;
    }
    .morewebproject {
        @include web-color;
    }
    .morehead {
        color: $white;
    }
    @media (min-width: 1850px) {
        .morehead {
            font-size: 3.5rem;
        }
        .p1 {
            margin-top: -3rem !important;
        }
    }
    @media (max-width:1024px) and (max-height:1366px) {
        .sidehr,
        .sidehrtext {
            margin-left: -5rem;
            left: 6rem;
            position: relative;
            top: 21rem;
            width: 24%;
            font-size: 14px;
        }
        .img-shadow {
            width: 75%;
            float: left;
            margin-top: -1rem;
            margin-left: 7rem;
        }
        .img-shadow img {
            top: 36px;
            left: 54px;
        }
        .top-right {
            right: -36px;
        }
        .nav-linkproject1 {
            width: 9.6rem !important;
            font-size: 1rem !important;
        }
        .img-shadowr {
            margin-top: -1rem;
            margin-left: -5rem;
        }
        .top-left {
            left: 70px;
        }
        .sidehrr {
            margin-right: 3rem;
        }
        .sidehrtextr {
            left: 17rem;
            margin-right: 15rem;
        }
    }
    @media (max-width:1366px) and (max-height:1024px) {
        .sidehrtextr {
            margin-right: 26rem;
        }
    }
    @media (max-width:1280px) and (max-height:800px) {
        .sidehrtextr {
            left: 21rem;
        }
        .sidehead {
            padding-top: 1rem !important;
        }
        p {
            font-size: 0.9rem;
        }
        .top-left {
            top: 57px;
            left: -39px;
        }
        .p3 {
            padding-top: 3.4rem !important;
        }
        .p4 {
            padding-top: 6.4rem !important;
            text-align: right;
        }
        .para4 {
            text-align: right;
        }
        .np2 {
            margin-left: 6.3rem;
        }
    }
    @media (max-width:1440px) and (max-height:900px) {
        .sidehrtextr {
            left: 21rem;
        }
        .sidehead {
            padding-top: 1rem !important;
        }
        .img-shadow {
            margin-top: -3rem;
        }
        p {
            font-size: 0.9rem;
        }
        .mtoppad {
            margin-top: 0rem;
        }
        .s4left {
            margin-left: 8rem;
        }
        .colsub1 {
            margin-left: -2rem;
        }
        .colsub2 {
            margin-left: 1rem;
        }
        .b1 {
            margin-top: -0.4rem;
            margin-left: 0.3rem;
        }
        .a1 {
            position: relative;
            top: -0.2rem;
        }
        .i1 {
            top: 48px !important;
        }
        .top-right {
            top: 57px;
            right: -39px;
        }
        .top-left {
            top: 57px;
            left: -39px;
        }
        .p3 {
            padding-top: 3.4rem !important;
        }
        .p4 {
            padding-top: 5.4rem !important;
        }
    }
    @media (max-width:1280px) and (max-height:800px) {
        .sidehrtextr {
            left: 21rem;
        }
        .sidehead {
            padding-top: 1rem !important;
        }
        p {
            font-size: 0.9rem;
        }
        .top-left {
            top: 57px;
            left: -39px;
        }
        .p3 {
            padding-top: 3.4rem !important;
        }
        .p2 {
            padding-top: 3.4rem !important;
        }
        .p4 {
            padding-top: 7rem !important;
        }
    }
    @media (max-width:1024px) and (max-height:878px) {
        .sidehr,
        .sidehrtext {
            margin-left: -5rem;
            left: 6rem;
            position: relative;
            top: 21rem;
            width: 24%;
            font-size: 14px;
        }
        .img-shadow {
            width: 75%;
            float: left;
            margin-top: -1rem;
            margin-left: 7rem;
        }
        .img-shadow img {
            top: 36px;
            left: 54px;
        }
        .top-right {
            right: -36px;
        }
        .nav-linkproject1 {
            width: 9.6rem !important;
            font-size: 1rem !important;
        }
        .img-shadowr {
            margin-top: -1rem;
            margin-left: -5rem;
        }
        .top-left {
            left: 70px;
        }
        .sidehrr {
            margin-right: 3rem;
        }
        .sidehrtextr {
            left: 14rem;
            margin-right: 15rem;
        }
    }
    @media (max-width:768px) and (max-height:1024px) {
        .sidehr,
        .sidehrtext {
            margin-left: -5rem;
            left: 6rem;
            position: relative;
            top: 21rem;
            width: 24%;
            font-size: 14px;
        }
        .img-shadow {
            width: 75%;
            float: left;
            margin-top: 5rem;
            margin-left: 5rem;
        }
        .img-shadow img {
            top: 36px;
            left: 54px;
        }
        .top-right {
            right: -36px;
        }
        .nav-linkproject1 {
            width: 9.6rem !important;
            font-size: 1rem !important;
        }
        .img-shadowr {
            margin-top: 2rem;
            margin-left: -5rem;
        }
        .top-left {
            left: 70px;
        }
        .sidehrr {
            margin-right: 3rem;
        }
        .sidehrtextr {
            left: 9rem;
            margin-right: 15rem;
        }
        p {
            font-size: 0.9rem;
        }
    }
    @media (max-width:414px) {
        .img-shadow {
            width: 75%;
            float: left;
            margin-top: 5rem;
            margin-left: 1rem;
        }
        .img-shadow img {
            left: 26px !important;
        }
        .img-shadowr {
            float: left;
            background: $web-text;
        }
        .img-shadowr img {
            left: -54px;
        }
        .img-shadow3 {
            background: #417307;
        }
        /* Top right text */
        .top-right {
            position: absolute;
            top: 45px;
            right: -18px;
            font-size: 1.4rem;
            color: #000;
        }
        .top-left {
            position: absolute;
            top: 45px;
            left: 36px;
            font-size: 1.4rem;
            color: #000;
        }
        .sidehr {
            margin-left: -5rem;
            background: #000;
            position: relative;
            top: 21rem;
            left: -1rem;
        }
        .sidehrtext {
            margin-left: -5rem;
            color: $design-text !important;
            position: relative;
            top: 21rem;
            left: -1rem;
        }
        .sidehrr {
            margin-right: -1rem;
            background: #000;
            position: relative;
            top: 21rem;
            width: 20%;
        }
        .sidehrtextr {
            color: $web-text !important;
            position: relative;
            top: 21rem;
            left: 26rem;
            margin-right: 15rem;
        }
        .sidehrtext3 {
            color: #417307 !important;
        }
        .sidehead {
            padding-top: 4rem;
        }
        .mp {
            padding: 0rem !important;
        }
    }
}

#sectionfw {
    @media (max-width: 768px) {
        .formfooter {
            top: 2rem !important;
        }
    }
    @media (max-width:1280px) and (max-height:800px) {
        .formfooter {
            margin-left: 0rem !important;
            margin-top: -3rem;
        }
    }
    @media (max-width:1440px) and (max-height:900px) {
        .formfooter {
            margin-left: 0rem !important;
            margin-top: -3rem;
        }
    }
}

#project {
    .projecthead {
        font-family: Khand-Semibold;
        text-transform: uppercase;
    }
    .projectdesc {
        font-size: 1.5rem;
    }
}

.back {
    text-decoration: none;
    color: $white;
    &:hover {
        color: $white;
        text-decoration: none;
    }
}

#webproject {
    .morewebproject {
        @include web-color;
    }
    .allprojects {
        color: $white;
        text-decoration: none;
    }
    .morehead {
        color: $white;
    }
}

#more {
    min-height: auto !important;
    margin-top: 5rem;
    .newmore {
        height: 180px;
    }
    .morewebproject {
        @include web-color;
    }
    .allprojects {
        color: $white;
        text-decoration: none;
    }
    .morehead {
        color: $white;
    }
    .morewebbutton {
        background: -webkit-linear-gradient(left, #5d33e5, #58a1ff) !important;
    }
    a {
        color: #fff;
    }
    .a1 {
        position: relative;
        top: -0.2rem;
    }
}

.ihide,
#readless {
    // color: $web-text;
    display: none;
    cursor: pointer;
}

#read,
#readless {
    cursor: pointer;
    &:hover {
        color: $web-maintext;
    }
}

// #mainNav {
//     .navbar {
//         height: auto;
//         z-index: 1030;
//     }
// }